language: node_js
node_js:
- '6'
notifications:
  slack:
    secure: JX3gEzEWt74JG3RM+GZTKzenq2gOXIxog5hD2Gp/7x5Dy4nxhUQoGbjzrO6RUw/tXnWRM3hG43qF2I7oOIMKe+3C9WQr0gQcn3NZM9Hi1odciYE8njKeVYUQ4/E+IkGsxNrTIJN/9C9GRxm9vJ+cvexb8zS4J71SUuDezxPE/uPVdgLI5fPKINCLMZBjGrI0JCsDAFiVWG80Gv2ly2kke9ITw0IKdrKn6E6A9rEGBiCTBpVALcLlzQMxwUrsZABzgxPjh/+apRkHaQdgdhcjr2D5P61BnJG4Qh8+p4ceJseRTg7bwPpDMFB3nZ54CdWJiLGbP6yEtqmZGB41FyYJ59Zrnr4cuaEwvdwdvxNKySnOH6c7ghr3zNr/eMfRecDmRvhn66X2pGymeFD5QVCXQgnjyjXovfn0g1XiwXqwIeQZmb5TwWMHpAH9iMvmHYAmuDo3KPYkWwyDVJKBHv+TJFDBEvP5PaxG/laWUNR8VDuKY07iTKxS6Rtja/GAyrU+zK6qs1lpAtF6dj2vZTiAFKbXLw3qTyNMtIllUUZ/dzoIrPNhOCwhMw3EZ/0QkQCjgnqfw8/YnsI+c2XgAW+IJYwETKeeQ+4URVOGNyjLimB1S2Ym3g+mrHjmYF31lJ6RhdPL+sFcA7/VINTjh/SZIDNBbKDgNURoB4I00TIOJh0=
